body {
  color: lightpurple;
}

h1 {
  padding: 20px;
  font-size: 50px;
  font-family: "Nosifer";
  color: orange;
  text-align: center;
}

button {
  border: solid 1 px orange;
  background-color: purple;
  text-align: center;
  font-family: "Road Rage";
  font-size: 25px;
  color: orange;
  margin: 10 px;
  width: 100%;
}
